$defaultFont: 'Josefin Slab';
@import url("//shared.bnsstore.com/res/CSS/Fonts/JosefinSlab/css");

//Main
main {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    #main-container {
        padding: 0;
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
        overflow: hidden;
    }
}
//Slide
.slide-container {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: -1;
    .slide-text-container {
        position: absolute;
        width: 48%;
        height: 75%;
        top: 10%;
        left: -40%;
        opacity: 0;
        .slide-text {
            width: 100%;
            .slide-title {
                display:block;
                margin-left: 15%;
                width: 85%;
                text-align: left;
                //border-left: 5px solid rgb(150,150,150);
                margin-bottom: 2vh;
            }

            .slide-desc {
                display:block;
                margin-left: 30%;
                padding-left: 1vw;
                width: 70%;
                text-align: left;
                border-left: 20px solid #1bccf1;
                opacity: 0;
            }
        }
    }
}

.slide-image-container {
    display: inline-block;
    position: absolute;
    width: 38%;
    height: 75%;
    top: 10%;
    left: 80%;
    opacity: 0;
    text-align: center;
    white-space: nowrap;
    .slide-image-helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .slide-image {
        
        //display: block;
        vertical-align: middle;
        top: 5%;
        max-width: 90%;
        max-height: 90%;
    }
}
//Slide Title
/*.title-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 30%;

    .title {
        font-family: $defaultFont;
    }
}*/
//Slide Arrow
#arrows {
    opacity: 0.9;
    z-index: 1000;
    div {
        position: absolute;
        top: 9.95%;
        width: 1.5vw;
        height: 75%;
        background-color: #1bccf1;

        div {
            top: 0;
            width: 0;
            height: 0;
            border-top: 37.6vh solid transparent;
            border-bottom: 37.6vh solid transparent;
        }

        div:hover {
            border-left-color: #148ca5 !important;
            border-right-color: #148ca5 !important;
        }
    }

    #arrow-left-container {
        left: 0;

        #arrow-left {
            border-right: 1.5vw solid #16aac8;
        }
    }

    #arrow-right-container {
        left: 98.5vw;

        #arrow-right {
            border-left: 1.5vw solid #16aac8;
        }
    }
}
