$defaultFont: 'Josefin Slab';
@import url(//shared.bnsstore.com/res/CSS/Fonts/JosefinSlab/css);

#mobile-cover-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 3000;

    #mobile-cover {
        display: block;
        margin-top: 10%;
        width: auto;
        height: 50%;
        z-index: 3500;
    }
}

#home-intro-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2000;



    #intro-text {
        //position: absolute;
        //top: 40%;
        width: 100%;
        //height: 20%;
        font-family: $defaultFont;
        color: black;
    }
}

#intro-glow {
    display:block;
    z-index: 2001;
    position: absolute;
    display: block;
    //1px for smoothness
    width: 1px;
    height: 1px;
    opacity: 0.001;
    background: url(//main.bnsstore.com/res/Images/Intro/Glow_Tiny/png) center no-repeat;
    background-size:contain;
    top:50vh;
    left: 50vw;
}
