#sales-overlay {
    display: block;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 50;

    #sales-overlay-title {
        position: absolute;
        width: 40vw;
        height: 10vh;
        top: 30vh;
        left: 30vw;
        text-align: center;
        color: white;
    }
}

#sales-total-container {
    z-index: 49;
    position: fixed;
    //width: 40%;
    height: 5%;
    top: 10%;
    right: 17px;
    padding: 5px 5px 0 5px;
    border-radius: 10px;
    color: white;
    background-color: rgba(98, 211, 23,0.9);
    vertical-align: middle;
}

#sales-container {

    .category-container {
        .category-title {
            border-bottom: double 5px black;
        }

        .product-container {
            display: inline-block;
            background-color: #62d317;
            margin: 10px 10px 10px 10px;
            padding: 5px;
            text-align: center;
            vertical-align: top;

            .product-title {
                color: white;
                border-bottom: solid 2px white;
            }

            .product-price {
                color: white;
                padding-top: 5px;
            }

            .product-price-input-container {
                .product-subtract-button:hover {
                    background-color: #f5856d;
                }

                .product-subtract-button:active {
                    background-color: #dc6a51;
                }

                .product-count {
                    width: 40px;
                    height: 30px;
                    text-align: center;
                }

                .product-add-button:hover {
                    background-color: #7bdcf1;
                }

                .product-add-button:active {
                    background-color: #4fbbd1;
                }
            }

            .product-employee-price {
                margin-top: 5px;
                padding-top: 5px;
                border-top: solid 2px white;
                color: white;
            }

            .product-employee-price-input-container {
                .product-employee-subtract-button:hover {
                    background-color: #f5856d;
                }

                .product-employee-subtract-button:active {
                    background-color: #dc6a51;
                }

                .product-employee-count {
                    width: 40px;
                    height: 30px;
                    text-align: center;
                }

                .product-employee-add-button:hover {
                    background-color: #7bdcf1;
                }

                .product-employee-add-button:active {
                    background-color: #4fbbd1;
                }
            }

            .sales-button {
                width: 30px;
                height: 30px;
                border: none;
                padding: 0;
                margin: 0;
                background-color: white;
            }

            .sales-button:hover {
                background-color: rgb(100,100,100);
            }
        }
    }
}
