@{
    Layout = "~/Views/Layouts/Main/_MainLayout.cshtml";
    bool verified = ViewBag.verified;
    Lang lang = ViewBag.lang;
}
@section head{
    <link rel="stylesheet" href="//account.bnsstore.com/res/CSS/VerifyEmail/0.0.1.min/css">
    <script src="//account.bnsstore.com/res/JS/VerifyEmail/0.0.1/js"></script>
}
@section lang{
    @{
        lang.AddKeyword("Account.VerifyEmail.Success");
        lang.AddKeyword("Account.VerifyEmail.Failed");
        lang.AddKeyword("Account.VerifyEmail.Redirect");
    }
}
@section main{

    <div id="verify-email-container" class="hc-text">
        @if (verified)
        {
            <div id="verify-email-message" class="vc-container">
                <div>@lang.GetHTMLTrans("Account.VerifyEmail.Success")</div>
            </div>
        }
        else
        {
            <div id="verify-email-message" class="vc-container">
                <div>@lang.GetHTMLTrans("Account.VerifyEmail.Failed")</div>
            </div>
            <div id="verify-email-failed" style="display:none">true</div>
        }
        <div id="verify-email-redirect-container" class="vc-container">
            <div id="verify-email-redirect">@lang.GetHTMLTrans("Account.VerifyEmail.Redirect")<span id="verify-email-redirect-counter">5</span></div>
        </div>
    </div>
    <script>
        $('#verify-email-message').autoTextSize(0.35, 0, $("#verify-email-container"), false);
        $('#verify-email-redirect').autoTextSize(0.4, 0, $("#verify-email-container"), false);
    </script>
}
@section footer{

}