@{
    Layout = "~/Views/Layouts/Main/_MainLayout.cshtml";
    Lang lang = ViewBag.lang;
    SLUser user = ViewBag.user;
}
@section head{
    <link rel="stylesheet" href="//cosh.bnsstore.com/res/CSS/Grow/0.0.1.min/css">

    <script src="//shared.bnsstore.com/res/JS/Pixi/3.0.6.min/js"></script>
    <script src="//shared.bnsstore.com/res/JS/p2/0.6.1.min/js"></script>
    <script src="//shared.bnsstore.com/res/JS/Phaser/2.3.0/js"></script>
    <script src="//cosh.bnsstore.com/res/JS/Grow/Grow/js"></script>
    <script src="//cosh.bnsstore.com/res/JS/Grow/States/Boot/js"></script>
    <script src="//cosh.bnsstore.com/res/JS/Grow/States/TitleScreen/js"></script>
}
@section lang{
    @{
        lang.AddKeyword("Test");
    }

}
@section body{

}
@section main{
    <button id="fullscreen-button">Fullscreen</button>
    <div id="grow-container" onclick="
    ">

    </div>
    <script>
        $('#fullscreen-button').click(function () {
            var container = document.getElementById('grow-container');
            if (container.requestFullscreen) {
                container.requestFullscreen();
            } else if (container.msRequestFullscreen) {
                container.msRequestFullscreen();
            } else if (container.mozRequestFullScreen) {
                container.mozRequestFullScreen();
            } else if (container.webkitRequestFullscreen) {
                container.webkitRequestFullscreen();
            }
        });
        
    </script>
}
@section footer{

}
