.vc-container {
    display: inline-table;
    table-layout: fixed;
    .vc-child{
        display: table-cell;
        vertical-align: middle;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }
}
.hc-text{
    text-align: center;
}
.hc-margin{
    margin: 0 auto;
}
.no-overflow{
    overflow: hidden;
}
