@{
    Layout = "~/Views/Layouts/Main/_MainLayout.cshtml";
    SLouple.MVC.Shared.Lang lang = ViewBag.lang;
    SLUser user = ViewBag.user;
}
@section head{
    <link rel="stylesheet" href="//main.bnsstore.com/res/CSS/Chat/0.0.1.min/css">

    <script src="//shared.bnsstore.com/res/JS/SignalR/2.2.0.min/js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="//main.bnsstore.com/res/JS/Chat/ChatHub/0.0.1.min/js"></script>

}
@section lang{
    @{
        lang.AddKeyword("Main.Chat.Connecting");
        lang.AddKeyword("Main.Chat.LoggingIn");
        lang.AddKeyword("Main.Chat.AccountWarning");
        lang.AddKeyword("Main.Chat.Send");
    }
}
@section main{
    <div id="message-entry-clone" class="message-entry">
        <div class="message-date">
            </div>
        <div class="message-display-name">
            </div>
        <div class="message-context">

        </div>
    </div>
    @if (user != null)
    {
        <div id="state-container">
            <div id="connecting-title">
                @lang.GetHTMLTrans("Main.Chat.Connecting")
            </div>
            <div id="logging-in-title">
                @lang.GetHTMLTrans("Main.Chat.LoggingIn")
            </div>
        </div>
        <script>
            $("#connecting-title").autoTextSize(1.2, 0, $("#state-container"), false);
            $("#logging-in-title").autoTextSize(1.2, 0, $("#state-container"), false);
        </script>
    }
    else
    {
        <div id="account-warning-container">
            <div id="account-warning-title">
                @lang.GetHTMLTrans("Main.Chat.AccountWarning")
            </div>
        </div>
        <script>
            $("#account-warning-title").autoTextSize(1.2, 0, $("#account-warning-container"), false);
        </script>
    }
    <div id="chat-hub-container">
        <div id="chat-log-container">
            <div id="chat-log">
            </div>
        </div>
        <div id="online-users-container">
            <div id="online-users">

            </div>
        </div>
        <div id="emoji-container">
        </div>
        <div id="message-container">
            <input type="text" id="message" maxlength="100">
            <button id="message-send-button">@lang.GetHTMLTrans("Main.Chat.Send")</button>
        </div>
    </div>
}
@section footer{

}
