@{
    Layout = "~/Views/Layouts/Main/_MainLayout.cshtml";
    SLouple.MVC.Shared.Lang lang = ViewBag.lang;
}

@section head{

}
@section lang{

}
@section main{
    <div>@DateTime.Now</div>
    <div>@DateTime.UtcNow</div>
    <div>
        EXEC Store.uspAddEmployee @@Username = 'Rachel', @@FirstName = 'Rachel', @@LastName = 'Cheung',
        @@GroupName = 'Clothing', @@Manager = 0;
        <hr>
        EXEC Store.uspAddShift @@FirstName = 'Jacky', @@LastName = 'Sio',
        @@Year = 2015, @@Month = 3, @@Day = 26,
        @@Store = 'N';
        <hr>
        EXEC Store.uspDelShift @@FirstName = 'Jacky', @@LastName = 'Sio',
        @@Year = 2015, @@Month = 3, @@Day = 25
        <hr>
        SELECT (SELECT Username FROM [User].Account a2 WHERE UserID = a.UserID)
        FROM   [User].Account a
        WHERE  NOT EXISTS (
        SELECT UserID
        FROM   Store.Employee e
        WHERE  a.UserID = e.UserID
        ) AND UserID > 47
        <hr>
        SELECT [Date], [Store], (
        SELECT [ProductName] FROM [Store].[Product] [p]
        WHERE [p].[ProductID] = [s].[ProductID]) AS [ProductName], [Count], [EmployeeCount] FROM [Store].[Sale] [s]
        ORDER BY [Date];
        <br>
    </div>
}
@section footer{

}