$defaultFont: 'Josefin Slab';
#sidebar {
    display: inline-block;
    position: absolute;
    width: 15%;
    height: 75%;
    top: 10%;
    background: rgb(200,200,200);
    color:black;
    z-index: 100;
    font-family: $defaultFont;
    #sidebar-content{
        margin: auto;
        margin-top: 7.5vh;
        margin-bottom: 7.5vh;
        height: 80%;
        width:90%;
        text-align:center;
        display:block;
        #keyword-container{
            display:block;
            height: 28%;
            width: 100%;
            #keyword-title{
                display:block;
                width: 100%;
                height: 38%;
                margin-bottom: 1vh;
            }
            #keyword-textbox{
                display:block;
                width: 100%;
                height: 30%;
                min-height: 0;
                border: 0;
                padding: 0;
                margin: 0;
                line-height: 60%;
                text-align: center;
            }
        }
        #price-range-container{
            display:block;
            height: 28%;
            width: 100%;
            #price-range-title{
                display:block;
                width: 100%;
                height: 40%;
            }
            #price-range{
                display:block;
                width: 100%;
                height: 35%;
            }
            #price-range-slider{
                display:block;
                width: 95%;
                height: 20%;
            }
        }
        #product-category-container{
            display:block;
            height: 28%;
            width: 100%;
            margin-top: 3vh;
            #product-category-title{
                display:block;
                height: 38%;
                margin-bottom: 1vh;
                width: 100%;
            }
            #product-category-selectmenu-container{
                display:block;
                height: 30%;
                width: 100%;
                font-family:$defaultFont;
                #product-category-selectmenu-button{
                    display: block;
                    height: 100%;
                    width: 100% !important;
                    .ui-selectmenu-text{
                        margin-top: 1.5vh;
                        height: 90% !important;
                        text-align: center;
                    }
                }
            }
        }
        #search-button{
            display:block;
            height: 14%;
            width: 100%;
            background: #62d317;
            border: none;
            .ui-button-text{
                color: white;
                padding:0;
            }
        }
         #search-button:hover{
             background: #54b415;
         }
    }
}
.ui-menu-item{
    text-align: center !important;
}
#content {
    display: inline-block;
    width: 84%;
    margin-left: 16%;
    .product {
        display: inline-block;
        //min-width: 150px;
        max-width: 30vh;
        max-height: 50vh;
        width: 24%;
        height: 30vw;

        .product-image {
            display: block;
            width: 100%;
            height: 69%;
            text-align: center;
            margin-bottom: 2%;
            img {
                resize: both;
                width: 100%;
                height: 100%;
                max-width: 100%;
                max-height: 100%;
            }
        }

        .product-name {
            display: block;
            width: 100%;
            height: 13%;
            text-align: center;
        }

        .product-price {
            display: block;
            width: 100%;
            height: 15%;
            text-align: center;
            color:rgb(67, 143, 193);
        }
        .on-sale{
            color: rgb(255, 106, 0)
        }
    }
}
