#control-panel-method-update-product{
    #change-product-name,
    #change-product-category,
    #change-product-price,
    #change-product-employee-price,
    #change-product-on-sale-price,
    #change-product-image{
        display: inline-block;
        max-width: 300px;

        input[type=text]{
            width: 250px;
        }
        #change-product-image-image{
            font-size: 20px;
        }
    }
}
#control-panel-method-del-category{
    background-color: red;
    color: white;

    #del-category-name{
        color: red;
    }
}
#control-panel-method-change-category-name{
    background-color: red;
    color: white;

    #change-category-name-name{
        color: red;
    }

    #change-category-name-new-name{
        color: red;
    }
}